
body {
  text-align: center;
  margin: 0;
  display:flex;
  flex-direction: row;
  background-color: #ffffb5;
  justify-content: center;
  background-size: cover;
  background-image: url("/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.header {
  display: flex;
  
  align-items: center;
  height: 12vh;
  
  background-color: #F4E6C1;
}

.cart {
  width: 68vw;
  height: 12vh;
  min-height: 12vh;
  text-align: right;
  justify-content: center;
  
  text-decoration: none;
}

.buttonCart {
  width: 15vw;
  height: 6vh;
  background-color: #c15f3c;
  color: white;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border: 0;
  font-size: 1.5rem;
  margin-top: 3vh;
  margin-right: 1vw;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}


.about {
  display: flex;
  font-size: 1.5rem;
  
  width: 20vw;
  height: 12vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0.2px 0.2px 20px rgba(0, 0, 0, 0.3);
}

.about:hover {
  color: #28271d;
  
}

.buttonCart:hover {
  background-color: #28271d;
  color: #F4E6C1;
  cursor: pointer;
  animation: bounce 0.5s ease-out;
  
}

.link {
  text-decoration: none;
}

.logoImage {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1vw;

}

.logo {
  width: 12vw;
  height: 12vh;
  display: flex;  
 
}



.mainDiv {
  justify-content: center;
  height: 110%;
  min-height: 100vh;
  width: 70vw;
  background-color: #E8D8B9;
  color: #2D3748;
  
}

form {
    display: flex;
    flex-direction: column;
    color: #2D3748;
    width: 20vw;
    margin: 1rem;
    
}

textarea {
  resize: none;
  height: 25vh;
  display : block;
  
}

.inStock {
  color: green;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  font-size:0.9rem
}

.productCard {
  margin-top: 50px;
  display: flex;
  width: 215px;
  height: 450px;
  color: #28271d;
  flex-direction: column;
  flex: 0 0 auto;
}

.productPrice {
  text-align: left;
  padding-left: 5px;
  color: #e47271;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 5px;
  
  


}

.productName {
  width: 215px;
  font-size: 1em;
  font-weight: 700;
  padding-left: 5px;
  text-align: left;
  color: #28271d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 5px;
  
}

.productImageOnProductPage {
  border-radius: 15px;
  width: 400px;
  height: 550px;
}

.productImage {
  height: 340px;
  border-radius: 15px;
  width: 215px;
  background-color: white;
}

.mainProductPage {
  display: flex;
  flex-direction: row; /* уже есть */
  flex-wrap: wrap; /* это ключевое! */
  justify-content: left;
  gap: 20px; /* вместо margin между карточками */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
  
}


@media (max-width: 1650px) {
  .about { 
    margin: 3vw;
  }
  
}

@media (max-width: 1600px) {
  .about {
    margin: 4vw;
  }
  
}

@media (max-width:1400px) {
  .about {
    margin:4vw
  }
  body {
    
  }
}
@media (max-width: 1250px) {
  .about {
    margin: 6vw;
  }
}
@media (max-width:1100px) {
  .about {
    font-size: 1rem;
    margin: 2vw
  }
}

@media (max-width: 1000px) {
  .about {
    font-size: 0.8rem;
    margin: 3vw;
  }
}

@media (max-width: 800px) {
  .about {
    font-size: 0.8rem;
    margin: 4vw;
  }
}


@media (max-width: 768px) {
  .productCard {
    width: 48%; /* 2 карточки в ряд с учетом gap */
    height: auto; /* Автоматическая высота */
    margin-top: 4px;
    
  }

  .productImage {
    width: 100%!important; /* Ширина по родителю */
    height: 250px!important; /* Фиксированная высота */
    border-radius: 12px;
    object-fit: cover; /* Сохраняет пропорции изображения */
  }

  .productName {
    width: 100%!important;
    font-size: 0.9em; /* Уменьшенный размер текста */
    
  }

  .productPrice {
    font-size: 1.2em; /* Уменьшенный размер цены */
    padding-left: 0;
    
  }

  /* Дополнительные корректировки для контейнера */
  .mainProductPage {
    gap: 11px;
    padding: 7px;
    
  }

  .mainDiv {
    width: 100vw;
  }
  .about {
    font-size: 0.65rem;
    padding-left: 22vw;
  }
  .buttonCart {
    font-size: 1rem;
    width: 25vw;
    height: 5vh;
  }
  .cart {
    
  }
}





@keyframes bounce {
  0% {
    transform: translateY(0); /* Начальное положение */
  }
  25% {
    transform: translateY(-10px); /* Подпрыгивает вверх */
  }
  50% {
    transform: translateY(0); /* Возвращается в исходное положение */
  }
  75% {
    transform: translateY(-5px); /* Немного подпрыгивает снова */
  }
  100% {
    transform: translateY(0); /* Возвращается в исходное положение */
  }
}